body {
    background-image: url("../images/background.jpg");
    text-align: center;
    font-family: 'Bangers', cursive;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

header {
    transform: rotate(-10deg);
    padding: 20px;
    animation: headerRotate 10s infinite;
}

h1 {
    font-size: 50px;
}

#heroes {
    padding: 10px;
}

.image {
    display: inline-block;
    text-align: center;
    padding: 15px
}

.favorite{ 
    height: 100px;
    position: absolute;
    left: 50px;
    top: 50px;
    animation: favoriteAnimate 3s infinite;
}

.favorite:hover {
    cursor: pointer;
}

.favButton {
    display: block;
    margin: 0 auto;
}

.img {
    border: 10px solid black;
}

button {
    border: none;
    background: none;
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

@keyframes favoriteAnimate {
    0%, 100% {
        transform: scale(0.75, 0.75);
    }
    50% {
        transform: scale(1, 1);
    }
}

@keyframes headerRotate {
    0%, 80% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(3600deg);
    }
}