body {
    background-image: url("../images/background.png");
    text-align: center;
    font-family: 'Bangers', cursive;
}


.image {
    display: inline-block;
    text-align: center;
    padding: 20px;
}